<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softskill.exam.dao.ErrorFavoritesMapper">
    <resultMap id="BaseResultMap" type="com.softskill.exam.domain.ErrorFavorites">
        <id column="C_EF_ID" jdbcType="BIGINT" property="cEfId"/>
        <result column="C_UID" jdbcType="BIGINT" property="cUid"/>
        <result column="C_EF_TOTAL_NUM" jdbcType="INTEGER" property="cEfTotalNum"/>
        <result column="C_CREATE_TIME" jdbcType="TIMESTAMP" property="cCreateTime"/>
        <result column="C_UPDATE_TIME" jdbcType="TIMESTAMP" property="cUpdateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        C_EF_ID, C_UID, C_EF_TOTAL_NUM, C_CREATE_TIME, C_UPDATE_TIME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_error_favorites
        where C_EF_ID = #{cEfId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_error_favorites
        where C_EF_ID = #{cEfId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.softskill.exam.domain.ErrorFavorites">
        insert into t_error_favorites (C_EF_ID, C_UID, C_EF_TOTAL_NUM,
        C_CREATE_TIME, C_UPDATE_TIME)
        values (#{cEfId,jdbcType=BIGINT}, #{cUid,jdbcType=BIGINT}, #{cEfTotalNum,jdbcType=INTEGER},
        #{cCreateTime,jdbcType=TIMESTAMP}, #{cUpdateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.softskill.exam.domain.ErrorFavorites">
        insert into t_error_favorites
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cEfId != null">
                C_EF_ID,
            </if>
            <if test="cUid != null">
                C_UID,
            </if>
            <if test="cEfTotalNum != null">
                C_EF_TOTAL_NUM,
            </if>
            <if test="cCreateTime != null">
                C_CREATE_TIME,
            </if>
            <if test="cUpdateTime != null">
                C_UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cEfId != null">
                #{cEfId,jdbcType=BIGINT},
            </if>
            <if test="cUid != null">
                #{cUid,jdbcType=BIGINT},
            </if>
            <if test="cEfTotalNum != null">
                #{cEfTotalNum,jdbcType=INTEGER},
            </if>
            <if test="cCreateTime != null">
                #{cCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cUpdateTime != null">
                #{cUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.softskill.exam.domain.ErrorFavorites">
        update t_error_favorites
        <set>
            <if test="cUid != null">
                C_UID = #{cUid,jdbcType=BIGINT},
            </if>
            <if test="cEfTotalNum != null">
                C_EF_TOTAL_NUM = #{cEfTotalNum,jdbcType=INTEGER},
            </if>
            <if test="cCreateTime != null">
                C_CREATE_TIME = #{cCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cUpdateTime != null">
                C_UPDATE_TIME = #{cUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where C_EF_ID = #{cEfId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.softskill.exam.domain.ErrorFavorites">
        update t_error_favorites
        set C_UID = #{cUid,jdbcType=BIGINT},
        C_EF_TOTAL_NUM = #{cEfTotalNum,jdbcType=INTEGER},
        C_CREATE_TIME = #{cCreateTime,jdbcType=TIMESTAMP},
        C_UPDATE_TIME = #{cUpdateTime,jdbcType=TIMESTAMP}
        where C_EF_ID = #{cEfId,jdbcType=BIGINT}
    </update>
</mapper>