<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softskill.exam.dao.QuestionMapper">
    <resultMap id="BaseResultMap" type="com.softskill.exam.domain.Question">
        <id column="C_QUES_ID" jdbcType="BIGINT" property="cQuesId"/>
        <result column="C_CH_ID" jdbcType="BIGINT" property="cChId"/>
        <result column="C_EP_ID" jdbcType="BIGINT" property="cEpId"/>
        <result column="C_QUES_TITLE" jdbcType="VARCHAR" property="cQuesTitle"/>
        <result column="C_QUES_TYPE" jdbcType="CHAR" property="cQuesType"/>
        <result column="C_IS_ENGLISH" jdbcType="CHAR" property="cIsEnglish"/>
        <result column="C_CORRECT_OPTION_ID" jdbcType="BIGINT" property="cCorrectOptionId"/>
        <result column="C_CORRECT_VALUE" jdbcType="CHAR" property="cCorrectValue"/>
        <result column="C_CREATE_TIME" jdbcType="TIMESTAMP" property="cCreateTime"/>
        <result column="C_UPDATE_TIME" jdbcType="TIMESTAMP" property="cUpdateTime"/>
        <result column="C_CH_NAME" jdbcType="VARCHAR" property="cChName"/>
        <result column="C_EP_NAME" jdbcType="VARCHAR" property="cEpName"/>
    </resultMap>
    <sql id="Base_Column_List">
        C_QUES_ID, C_CH_ID, C_EP_ID, C_QUES_TITLE, C_QUES_TYPE, C_IS_ENGLISH, C_CORRECT_OPTION_ID,
        C_CORRECT_VALUE, C_CREATE_TIME, C_UPDATE_TIME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_question
        where C_QUES_ID = #{cQuesId,jdbcType=BIGINT}
    </select>
    <select id="selectQuestionByCondition" parameterType="com.softskill.exam.domain.Question" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_question
        where 1=1
        <trim>
            <if test="cEpId!=null"> AND C_EP_ID =  #{cEpId,jdbcType=BIGINT} </if>
            <if test="cChId!=null"> AND C_CH_ID =  #{cChId,jdbcType=BIGINT} </if>
        </trim>
    </select>

    <select id="selectQuestionByParams" parameterType="Map" resultMap="BaseResultMap">
        SELECT
            qes.C_QUES_ID,
            qes.C_CH_ID,
            qes.C_EP_ID,
            qes.C_QUES_TITLE,
            qes.C_QUES_TYPE,
            qes.C_IS_ENGLISH,
            qes.C_CORRECT_OPTION_ID,
            qes.C_CORRECT_VALUE,
            qes.C_CREATE_TIME,
            qes.C_UPDATE_TIME,
            tep.C_EP_NAME,
            cap.C_CH_NAME
        FROM
            t_question qes
            LEFT JOIN t_exam_place tep
            ON tep.C_EP_ID = qes.C_EP_ID
            LEFT JOIN t_chapter cap
            ON cap.C_CH_ID = qes.C_CH_ID
        where 1=1
        <trim>
            <if test="cChapterNameSearchkey != null and cChapterNameSearchkey != ''">
                and cap.C_CH_NAME like CONCAT('%',#{cChapterNameSearchkey},'%')
            </if>
            <if test="cEpNameSearchkey != null and cEpNameSearchkey != ''">
                and tep.C_EP_NAME like CONCAT('%',#{cEpNameSearchkey},'%')
            </if>
            <if test="cQNameSearchkey != null and cQNameSearchkey != ''">
                and qes.C_QUES_TITLE like CONCAT('%',#{cQNameSearchkey},'%')
            </if>
        </trim>
        limit #{pageModel.startRow},#{pageModel.pageSize};
    </select>


    <select id="countQuestionByParams" parameterType="Map" resultType="java.lang.Long">
        select
        count(1)
        from t_question qes
            LEFT JOIN t_exam_place tep
            ON tep.C_EP_ID = qes.C_EP_ID
            LEFT JOIN t_chapter cap
            ON cap.C_CH_ID = qes.C_CH_ID
        where 1=1
        <trim>
            <if test="cChapterNameSearchkey != null and cChapterNameSearchkey != ''">
                and cap.C_CH_NAME like CONCAT('%',#{cChapterNameSearchkey},'%')
            </if>
            <if test="cEpNameSearchkey != null and cEpNameSearchkey != ''">
                and tep.C_EP_NAME like CONCAT('%',#{cEpNameSearchkey},'%')
            </if>
            <if test="cQNameSearchkey != null and cQNameSearchkey != ''">
                and qes.C_QUES_TITLE like CONCAT('%',#{cQNameSearchkey},'%')
            </if>
        </trim>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_question
        where C_QUES_ID = #{cQuesId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="cQuesId" parameterType="com.softskill.exam.domain.Question">
        insert into t_question (C_QUES_ID, C_CH_ID, C_EP_ID,
        C_QUES_TITLE, C_QUES_TYPE, C_IS_ENGLISH,
        C_CORRECT_OPTION_ID, C_CORRECT_VALUE, C_CREATE_TIME,
        C_UPDATE_TIME)
        values (#{cQuesId,jdbcType=BIGINT}, #{cChId,jdbcType=BIGINT}, #{cEpId,jdbcType=BIGINT},
        #{cQuesTitle,jdbcType=VARCHAR}, #{cQuesType,jdbcType=CHAR}, #{cIsEnglish,jdbcType=CHAR},
        #{cCorrectOptionId,jdbcType=BIGINT}, #{cCorrectValue,jdbcType=CHAR}, #{cCreateTime,jdbcType=TIMESTAMP},
        #{cUpdateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.softskill.exam.domain.Question">
        insert into t_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cQuesId != null">
                C_QUES_ID,
            </if>
            <if test="cChId != null">
                C_CH_ID,
            </if>
            <if test="cEpId != null">
                C_EP_ID,
            </if>
            <if test="cQuesTitle != null">
                C_QUES_TITLE,
            </if>
            <if test="cQuesType != null">
                C_QUES_TYPE,
            </if>
            <if test="cIsEnglish != null">
                C_IS_ENGLISH,
            </if>
            <if test="cCorrectOptionId != null">
                C_CORRECT_OPTION_ID,
            </if>
            <if test="cCorrectValue != null">
                C_CORRECT_VALUE,
            </if>
            <if test="cCreateTime != null">
                C_CREATE_TIME,
            </if>
            <if test="cUpdateTime != null">
                C_UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cQuesId != null">
                #{cQuesId,jdbcType=BIGINT},
            </if>
            <if test="cChId != null">
                #{cChId,jdbcType=BIGINT},
            </if>
            <if test="cEpId != null">
                #{cEpId,jdbcType=BIGINT},
            </if>
            <if test="cQuesTitle != null">
                #{cQuesTitle,jdbcType=VARCHAR},
            </if>
            <if test="cQuesType != null">
                #{cQuesType,jdbcType=CHAR},
            </if>
            <if test="cIsEnglish != null">
                #{cIsEnglish,jdbcType=CHAR},
            </if>
            <if test="cCorrectOptionId != null">
                #{cCorrectOptionId,jdbcType=BIGINT},
            </if>
            <if test="cCorrectValue != null">
                #{cCorrectValue,jdbcType=CHAR},
            </if>
            <if test="cCreateTime != null">
                #{cCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cUpdateTime != null">
                #{cUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.softskill.exam.domain.Question">
        update t_question
        <set>
            <if test="cChId != null">
                C_CH_ID = #{cChId,jdbcType=BIGINT},
            </if>
            <if test="cEpId != null">
                C_EP_ID = #{cEpId,jdbcType=BIGINT},
            </if>
            <if test="cQuesTitle != null">
                C_QUES_TITLE = #{cQuesTitle,jdbcType=VARCHAR},
            </if>
            <if test="cQuesType != null">
                C_QUES_TYPE = #{cQuesType,jdbcType=CHAR},
            </if>
            <if test="cIsEnglish != null">
                C_IS_ENGLISH = #{cIsEnglish,jdbcType=CHAR},
            </if>
            <if test="cCorrectOptionId != null">
                C_CORRECT_OPTION_ID = #{cCorrectOptionId,jdbcType=BIGINT},
            </if>
            <if test="cCorrectValue != null">
                C_CORRECT_VALUE = #{cCorrectValue,jdbcType=CHAR},
            </if>
            <if test="cCreateTime != null">
                C_CREATE_TIME = #{cCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cUpdateTime != null">
                C_UPDATE_TIME = #{cUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where C_QUES_ID = #{cQuesId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.softskill.exam.domain.Question">
        update t_question
        set C_CH_ID = #{cChId,jdbcType=BIGINT},
        C_EP_ID = #{cEpId,jdbcType=BIGINT},
        C_QUES_TITLE = #{cQuesTitle,jdbcType=VARCHAR},
        C_QUES_TYPE = #{cQuesType,jdbcType=CHAR},
        C_IS_ENGLISH = #{cIsEnglish,jdbcType=CHAR},
        C_CORRECT_OPTION_ID = #{cCorrectOptionId,jdbcType=BIGINT},
        C_CORRECT_VALUE = #{cCorrectValue,jdbcType=CHAR},
        C_UPDATE_TIME = #{cUpdateTime,jdbcType=TIMESTAMP}
        where C_QUES_ID = #{cQuesId,jdbcType=BIGINT}
    </update>
</mapper>